# .NET Core
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
.vscode/
# Visual Studio Code
.history/
# Rider
.idea/
# Build Results
*.dll
*.exe
*.app
*.log
*.vspscc
*.vssscc
*.dbmdl
*.pdb
*.cache
*.config
*.pidb
*.svclog
*.scc
# NuGet Packages
*.nupkg
# Entity Framework
migrations/
# Others
*.DS_Store
Thumbs.db
# ASP.NET Scaffolding
ScaffoldingReadMe.txt
# Test Results
TestResults/
# Publish
publish/
# node_modules
node_modules/
